/target
**/*.swp
.DS_Store
/tmp/
$file

.bash_profile
.bashrc
.gitconfig
.idea
.mcp.json
.profile
.ripgreprc
.vscode
.zprofile
.zshrc
HEAD
S11modulesRakuLibTest.rakumod
config
hooks
io-handle-testfile
objects
refs
temp-test.*
temp-file-*
tempfile*

